
.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;
}

body, html{
    background-color: black;
}
.card {
  margin: 0 3vw;
color: transparent;
    height: 600px;
    width: 450px;
  flex-shrink: 0;
  padding: 2vw;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card.full{
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 1;
   
   
}

.card.full img{
    width: 80vw;
    height: auto;
    opacity: 1;
    position:fixed;
    left: 125px; 
    top: 0px;
   
    
    

}


.card-caption {
  transition: .6s;
  text-align: center;

 
  
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
.card:last-child:after {
  content: "";
  
  position: absolute;
  height: 100%;
  right: -6vw;
  top: 0;
}
.card img {
 
  opacity: 0;
  margin: auto;
  display: block;
  transition: .35s;
  
}
.card.isVisible img {
  max-width: 100%;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
.card.isVisible .card-title {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  transition-delay: .1s;
}
.card:first-child {
  margin-left: 6vw;
}
